<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Details</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .menu-details {
            max-width: 600px; /* Adjust the maximum width as needed */
            margin: 0 auto; /* Center-align the menu details */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="menu-details">
    <h1>Menu Details</h1>

    <!-- Iterate through Specialties -->
    <h2>Specialties:</h2>
    <ul class="list-group">
        <li th:each="specialty : ${menu.specialities}" class="list-group-item">
            <!-- Display Specialty Name -->
            <h3 th:text="${specialty.name}"></h3>

            <!-- Iterate through Menu Items for the Specialty -->
            <ul class="list-group">
                <li th:each="menuItem : ${specialty.items}" class="list-group-item">
                    <!-- Display Menu Item Properties -->
                    <div class="row">
                        <div class="col-md-6">
                            <span th:text="${menuItem.name}"></span>
                            <br>
                            <span th:text="${menuItem.description}"></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <span th:text="${menuItem.price + ' RON'}"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>


<!-- Add jQuery and Bootstrap JS scripts (make sure jQuery is loaded before Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>