<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Specialty</title>
</head>
<body>
<h1>Create Specialty</h1>
<form th:action="@{/createSpeciality}" th:object="${speciality}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:field="*{name}" required>
  <br>
  <input type="submit" value="Create">
</form>
<br>
<a th:href="@{/allSpeciality}" th:text="'Back to All Specialties'">Back to All Specialties</a>
</body>
</html>